<button (click)="initNewBank()">Create a New Bank</button>

<table mat-table  class="mat-elevation-z8">
  <thead>
    <th>Bank Name</th>
    <th>Code</th>
    <th>City</th>
    <th>Slogan</th>
  </thead>
  <tbody>
    <tr *ngFor="let bank of banks">
      <td>{{ bank.name}}</td>
      <td>{{ bank.code}}</td>
      <td>{{ bank.city}}</td>
      <td>{{ bank.slogan}}</td>
      <td><button (click)="editBank(bank)">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-edit-bank
 [bank]="bankToEdit"
 (banksUpdated)="updatedBankList($event)"
 >
  

</app-edit-bank>