<h1>Nigerian Banks</h1>
<button (click)="initNewBank()">Add A New Bank</button>

<table id="banks">
  <thead>
    <th >Bank Name</th>
    <th >Code</th>
    <th >City</th>
    <th >Slogan</th>
    <th >Action</th>
  </thead>
  <tbody>
    <tr *ngFor="let bank of banks">
      <td>{{ bank.name}}</td>
      <td>{{ bank.code}}</td>
      <td>{{ bank.city}}</td>
      <td>{{ bank.slogan}}</td>
      <td><button (click)="editBank(bank)">Edit</button></td>
    </tr>
  </tbody>
</table>

<app-edit-bank
 [bank]="bankToEdit"
 (banksUpdated)="updatedBankList($event)"
 >
  

</app-edit-bank>