<div *ngIf="bank">
<h2>{{ bank.name}}</h2>
<div>
    Name:
    <input [(ngModel)]="bank.name" placeholder="Name" required/>
</div>
<div>
    Code:
    <input [(ngModel)]="bank.code" placeholder="Code" required />
</div>
<div>
    City:
    <input [(ngModel)]="bank.city" placeholder="City" required/>
</div>
<div>
    Slogan:
    <input [(ngModel)]="bank.slogan" placeholder="Slogan" required/>
</div>

<button type="submit" (click)="updateBank(bank)" *ngIf="bank.id">Submit</button>
<button type="submit" (click)="deleteBank(bank)" *ngIf="bank.id">Delete</button>
<button type="submit" (click)="createBank(bank)" *ngIf="!bank.id">Create</button>

</div>